<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>User Portal</h1>
		</div>
		<div>
			<h2>
				Hello, <span th:text="${username}">--name--</span> you are logged in :) .
			</h2>

			<div class="well">
				<b>enter intranet: </b><a th:href="@{/users}">users</a>
			</div>
		</div>
		<div id="pagefoot" th:include="layout :: footerFragment">Footer
		</div>
	</div>
	<!-- container -->

</body>
</html>
